#heading{
    padding-top: 4px;
}
#main{
    text-align: center;
    padding-top: 20px;
}
#header{
    text-align: center;
    height: 8%;
    background-color: red;
    color: white; 
}
#logout{
    float: right;
}